<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Compare at:</strong>
    <%= product.compare_at %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

</div>
